<p class="titre">{{ PERSO.perso_nom }} ({{ PERSO.perso_sex }} - {{ RACE.race_nom }}) - Date de création
    : {{ PERSO.perso_dcreat|date('d/m/Y') }}
<p class="soustitre">Perso n°{{ PERSO.perso_cod }}
<p style="text-align:center;"><em>{{ PERSO.perso_desc|nl2br }}</em>
<table width="100%" cellspacing="2">

    <tr>
        <td class="soustitre2">Niveau</td>
        <td>{{ PERSO.perso_niveau }}<em>(prochain niveau à {{ PERSO.px_limite }} PX)</em></td>
        <td class="soustitre2">Date limite de tour <a href="decalage_dlt.php">(Décaler sa DLT)</a></td>
        <td>{{ PERSO.perso_dlt|date('d/m/Y H:i:s') }}</td>
    </tr>

    <tr>
        <td class="soustitre2">Expérience</td>
        <td>{{ PERSO.perso_px|round(0,floor) }}</td>
        <td class="soustitre2">Points d’action</td>
        <td>{{ PERSO.perso_pa }}</td>
    </tr>

    <tr>
        <td class="soustitre2">Points de vie</td>
        <td>{{ PERSO.perso_pv }}/{{ PERSO.perso_pv_max }}{{ NIVEAU_BLESSURES }}</td>
        <td class="soustitre2">Nombre d’esquives ce tour</td>
        <td>' . $db->f('perso_nb_esquive') . '</td>
    </tr>
    <tr>
        <td class="soustitre2">Renommée</td>
        <td>{{ PERS.perso_renommee|round(2) }} ({{ PERSO.get_renommee }})</td>
        <td class="soustitre2">Renommée magique</td>
        <td nowrap>{{ PERS.perso_renommee_magie|round(2) }} ({{ PERSO.get_renommee_magie }})</td>
    </tr>
    <tr>
        <td class="soustitre2">Renommée artisanale</td>
        <td>{{ PERS.perso_renommee_artisanat|round(2) }} ({{ PERSO.get_renommee_artisanat }})</td>
        <td class="soustitre2">Karma</td>
        <td>{{ PERS.perso_kharma }} ({{ PERSO.get_karma }})</td>
    </tr>
    <tr>
        <td height="3" colspan="4">
            <hr/>
        </td>
    </tr>


    <tr>
        <td class="soustitre2">Force</td>
        <td>{{ PERSO.perso_for }} {% if BM_CARACS.FOR is defined %}{{ BM_CARACS.FOR.texte }} ({{ PERSO.perso_for - BM_CARACS.FOR.base }}){% endif %}
        </td>
        <td class="soustitre2">Intelligence</td>
        <td>{{ PERSO.perso_int }} {% if BM_CARACS.INT is defined %}{{ BM_CARACS.INT.texte }} ({{ PERSO.perso_int - BM_CARACS.INT.base }}){% endif %}
        </td>
    </tr>
    <tr>
        <td class="soustitre2">Dextérité</td>
        <td>{{ PERSO.perso_dex }} {% if BM_CARACS.DEX is defined %}{{ BM_CARACS.DEX.texte }} ({{ PERSO.perso_dex - BM_CARACS.DEX.base }}){% endif %}
        </td>
        <td class="soustitre2">Constitution</td>
        <td>{{ PERSO.perso_con }} {% if BM_CARACS.CON is defined %}{{ BM_CARACS.CON.texte }} ({{ PERSO.perso_con - BM_CARACS.CON.base }}){% endif %}
        </td>
    </tr>