<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="google-site-verification" content="e58p7QvfxmOxjDrWnBieRfmo49giKfPUfpKEunGYfTE"/>
    <meta name="description"
          content="Les Souterrains de Delain est un jeu de rôle gratuit dans lequel vous incarnez jusqu’à 4 personnages simultanément. Magie, combats, potions permettront d’affronter avec succès les ennemis !"/>
    <meta name="keywords" lang="fr"
          content="jeu de rôle, JDR, gratuit, tour par tour, online, multijoueurs, Delain, Souterrains, role-play, médiéval, fantastique"/>
    <meta name="category" content="Jeux"/>
    <meta name="propeller" content="56fad5b9e1137f8a4f50c3f6fa3e657d">
    <link rel="author" href="https://plus.google.com/117937611211014007112/posts">
    <link rel="shortcut icon" href="drake_head_red.gif" type="image/gif">
    <title>Les souterrains de Delain</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{{ HTTPS }}{{ URL }}/css/datatables.min.css" rel="stylesheet">

    <!-- Custom delain CSS -->
    <link rel="stylesheet" type="text/css" href="style.css?v{{ __VERSION }}" title="essai">
    <link rel="stylesheet" type="text/css" href="/style.php">

    {#<!-- Custom CSS -->
    <link href="{{ HTTPS }}{{ URL }}/css/simple-sidebar.css" rel="stylesheet">#}
    <link href="/css/container-fluid.css?v{{ __VERSION }}" rel="stylesheet">
    <link href="/css/delain.css?v{{ __VERSION }}" rel="stylesheet">

    <!-- CDN -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- JQueryUI a charger après bootstrap pour utiliser son tooltip -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6632318064183878",
            enable_page_level_ads: true
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1534416-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-1534416-3');
    </script>
    <script data-ad-client="ca-pub-6632318064183878" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body>

{#<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-1534416-3', 'auto');
    ga('require', 'GTM-M2VTQQW');
    ga('send', 'pageview');

</script>#}
<div id="wrapper">

    <!-- Sidebar -->
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">Menu</span>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <div class="visible-md visible-lg visible-sm hidden-xs ">
                            {% set origineBlockAuth = 'groupdiv_gauche' %}
                            {% set styleUl = '' %}
                            {% include "blockAuth.twig" %}
                        </div>
                        <div class="groupdiv groupdiv_gauche">
                            <div class="titre">Menu</div>
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="index.php">Accueil</a>
                                </li>
                                <li>
                                    <a href="http://forum.jdr-delain.net" target="_blank">Forum</a>
                                </li>
                                <hr/>

                                <li>
                                    <a href="finances.php">Finances</a> <a href="finances.php"><progress max="100" value="{{ PERCENT_FINANCES }}"></progress>

                                    </a>
                                </li>
                                <hr/>
                                <li>
                                    <a href="https://wiki.jdr-delain.net/index.php/Histoire" target="_blank">L’histoire</a>
                                </li>
                                <li>
                                    <a href="http://www.chez.com/delain/" target="_blank">le commencement</a>
                                </li>
                                <li>
                                    <a href="http://www.jdr-delain.net/voix/" target="_blank">La Gazette</a>
                                </li>
                                <hr/>
                                <li>
                                    <a href="http://wiki.jdr-delain.net/index.php/Regles" target="_blank">Les
                                        règles</a>
                                </li>
                                <li>
                                    <a href="faq_v2.php">FAQ</a>
                                </li>
                                <li>
                                    <a href="http://wiki.jdr-delain.net/" target="_blank">Wiki</a>
                                </li>
                                <li>
                                    <hr/>
                                    <a href="classement_v2.php">Classement Joueurs</a>
                                </li>
                                <li>
                                    <a href="champions.php" target="_blank">Les champions</a>
                                </li>
                                <li>
                                    <a href="statistiques_v2.php">Statistiques</a>
                                </li>

                                <hr/>

                                <li>
                                    <a href="http://wiki.jdr-delain.net/index.php/L%27equipe" target="_blank">L’équipe
                                        !!</a>
                                </li>
                                <hr/>
                                <li>

                                    <a href="rss.php">Flux des news <img src="{{ URL_IMAGES }}/rss.gif" border="0"
                                                                         alt="Flux des news"/></a>
                                </li>


                                <hr/>
                                <li>

                                    <strong>Annuaires de jeux</strong>
                                    <a href="http://www.portaildesjeux.com" target="_blank" title="Jeux"><img
                                                src="http://www.portaildesjeux.com/images/portaildesjeux.gif" border="0"
                                                alt="jeux gratuits"/></a>
                                </li>
                                <li>
                                    <a href="http://www.crocastuce.fr" target="_blank"
                                       title="Les meilleurs jeux gratuits">Jeux gratuits</a>
                                </li>
                                <li>
                                    <a href="http://www.jeux-en-ligne-gratuits.net/fiches/strategie/1_21_0.php"
                                       title="Jeux de stratégie en ligne">Jeux de stratégie</a>
                                </li>
                                <li>
                                    <a href="http://www.zone-mmorpg.com" title="jeux mmorpg">Jeux MMORPG</a>
                                </li>
                                <li>
                                    <a href='http://www.mesjeuxvirtuels.com' target='_blank'><img
                                                src='http://www.mesjeuxvirtuels.com/images/btn88x31.gif'/></a>
                                </li>
                                <li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div class="col-lg-10 col-md-9 col-sm-8">
            {% block contenu %}
                <div class="hidden-md hidden-lg hidden-sm visible-xs ">
                    {% set origineBlockAuth = '' %}
                    {% set styleUl = 'blockAuthTop' %}
                    {% include "blockAuth.twig" %}
                </div>
                <div class="groupdiv">
                    <div class="row">
                        <div class="col-lg-2 col-xs-2  col-md-2 hidden-sm hidden-xs" id="logoDelainAccueil">
                            <img src="{{ URL_IMAGES }}/logo_delain.gif" class="imgVertCenter">
                        </div>
                        <div class="col-lg-7 col-md-10 col-sm-12 col-xs-12 ">
                            <div id="descJeu">
                                        <span>
                                            <hr/>
                                            <strong>Aventurier, baladin, réfugié, bandit de grand chemin, te voici arrivé sur les terres du royaume de Delain... Ou plutôt devrait-on dire... sous les terres.</strong><br>
                                            Là où s’éveille depuis peu un mal très ancien ; dans les ténèbres de ces cavernes au plus profond desquelles Malkiar le Rouge reprend lentement ses forces et envoie ses hordes démoniaques à l’assaut des extérieurs...
                                            Sauras-tu surmonter les mille épreuves qui se dresseront devant toi, affronter les dangers de cette vie souterraine ? Pourras-tu protéger les contrées extérieures de ce mal grandissant ?
                                            <br><strong>Entre, et trouve par toi-même les réponses à ces questions.</strong>
                                            <br/>Mais attention : aujourd’hui, dans les souterrains, {{ AVENTURIERS_MORTS }}
                                            aventuriers, {{ MONSTRES_MORTS }} monstres et {{ FAMILIERS_MORTS }}
                                            familiers sont morts au combat...
                                            <hr/>
                                        </span>
                            </div>
                        </div>
                        <div class="col-lg-2 hidden-sm hidden-xs hidden-md">
                            <div id="avatarMonstre">
                                <img src="{{ URL_IMAGES }}/avatars/{{ GMON.gmon_avatar }}" class="imgVertCenter">
                            </div>
                        </div>
                    </div>
                </div>
                {% if PUB.type == 'haut' %}
                <div class="groupdiv" style="text-align: center;" id="pub">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Reponsive -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-6632318064183878"
                         data-ad-slot="8485409096"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                {% endif %}
                
                <div class="groupdiv">
                    <strong>Les souterrains de Delain</strong> est un jeu de rôles en ligne, où vous pouvez incarner jusqu’à 3
                    aventuriers. Il se déroule en tour par tour, et les seuls outils nécessaires pour y jouer sont une
                    connexion internet, un navigateur, et une adresse mail.
                    Pour plus d’infos : <a href="aide.php">comment débuter</a>, <a href="regles.php">les règles</a>, et
                    <a href="faq_v2.php">la faq</a>.
                </div>
                {% for news in TABNEWS %}
                    <div class="groupdiv">
                        <div class="titre">{{ news.news_titre }}</div>
                        <p class="pull-right">{{ news.news_date|date('d/m/Y') }}</p><br/>
                        <p>{{ news.news_texte|raw }}</p><br/>
                        <p class="pull-right">{{ news.news_auteur }}</p><br/>
                    </div>

                {% endfor %}
                <div class="groupdiv">
                    <div class="row">

                        {% if START_NEWS != 0 %}
                            <div class="col-xs-4 ">
                                <span class="pull_left"><a href="?start_news={{ START_NEWS - 5 }}"><== nouvelles plus récentes</a></span>
                            </div>
                            {% set suite = START_NEWS + 5 %}

                            {% if suite <= NB_NEWS %}
                                <div class="col-xs-4 col-xs-offset-4">
                                    <span class="pull_right"><a href="?start_news={{ START_NEWS + 5 }}">nouvelles plus anciennes ==></a></span>
                                </div>
                            {% endif %}

                        {% else %}
                            <div class="col-xs-4 col-xs-offset-8 ">
                                <p class="pull_right"><a href="?start_news={{ START_NEWS + 5 }}">nouvelles plus
                                        anciennes ==></a></p>
                            </div>

                        {% endif %}
                    </div>
                </div>
                <div class="groupdiv">
                    <p class="text-right">Conception et hébergement par <a href="http://www.sdewitte.net/hebergement"
                                                                           target="_blank">sdewitte.net</a></p>
                </div>

            {% endblock %}
        </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->



<script src="js/advert.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/additional-methods.js"></script>
<script src="js/localization/messages_fr.js"></script>
<script src="js/datatables.min.js"></script>
{%  block postscripts %}

<script>
    if (document.getElementById("tester") == undefined) {
        $('#pub').html('<div class="titre">Il semble que vous utilisiez AdBlock ou un autre bloqueur de publicités.<br />\n\
     La seule source de revenus de Delain étant la publicité, vous privez le jeu de revenus.<br />\n\
Je sais à quel point la pub sur Internet peut être pénible, mais nous nous efforçons de la garder discrète, aussi peut être pouvez vous désactiver adBlock pour delain ?</div>');

    }


</script>

{%  endblock %}


</body>

</html>
