{% extends 'index.twig' %}

{% block contenu %}
    <link rel="stylesheet" type="text/css" href="{{ HTTPS }}{{ URL }}style.css">
    <div class="groupdiv">
        {% if ISAUTH %}
            {% if TYPE_PERSO == 'joueur' %}
                {% if COMPTE.compt_hibernation == 'O' %}
                    {#
                    On est en hibernation
                    #}
                    Votre compte est en hibernation jusqu’au {{ COMPTE.compt_dfin_hiber|date('d/m/Y H:i:s') }}.<br/>
                    Vous ne pouvez pas vous connecter d’ici là.
                {% else %}
                    {% if NV_MONSTRE %}
                        {#
                        Un nouveau monstre a été affecté
                        #}
                        <p class="titre">Nouveau monstre !</p>
                        <p class="texteNorm">
                            Un nouveau monstre vient de vous être affecté. Prenez-en bien soin :)
                        </p>
                        {% if EVT_MONSTRE|length > 0 %}
                            {% for ligne_evt_monstre in EVT_MONSTRE %}
                                {{ ligne_evt_monstre }}<br/>
                            {% endfor %}
                        {% else %}
                            <p>Aucun événement depuis votre dernière DLT</p>
                        {% endif %}
                    {% endif %}

                    {% if AFFICHE_NEWS|length > 0 %}
                        {% for news in AFFICHE_NEWS %}
                            {% include 'blocks/_news_detail.twig' %}
                        {% endfor %}
                    {% endif %}

                    {% if PERSOS_ACTIFS|length == 0 %}
                        <p>Aucun joueur dirigé.</p>
                        <a href="cree_perso_compte.php">Créer un nouveau personnage !</a>
                    {% else %}
                        <table background="images/fondparchemin.gif" border="0">
                            <form name="login" method="post" action="validation_login3.php">
                                <input type="hidden" name="perso">
                                <input type="hidden" name="activeTout" value="0">
                                {% set CURRENT_LINE = 0 %}
                                {% for TEMP_PERSO in PERSOS_ACTIFS %}
                                    {% set CURRENT_LINE = CURRENT_LINE + 1 %}
                                    <!-- Perso {{ loop.index }} , TAILLE {{ TAILLE }} -->
                                    {% set PERSO = PERSOS_JOUEURS[loop.index0] %}
                                    {% if loop.index == 1 %}
                                        <tr><!-- première ligne -->
                                    {% endif %}
                                    {% if (CURRENT_LINE == PERSO_PAR_LIGNE) AND (not loop.last) %}
                                        {% set CURRENT_LINE = 0 %}
                                        <!-- On dépasse la taille, retour à la ligne -->
                                        </tr>
                                        <tr>
                                    {% endif %}
                                    {% if  loop.last %}
                                        <!-- Dernière ligne -->
                                        </tr>
                                    {% endif %}


                                    <td valign="top" width="{{ TAILLE }}%">
                                        {% include 'blocks/_single_perso_switch.twig' %}
                                    </td>
                                {% endfor %}

                            </form>
                        </table>
                    {% endif %}


                {% endif %}

            {% endif %}
        {% else %}
            Authentification échouée ou expirée.
        {% endif %}
    </div>
{% endblock %}