Bonjour,<br/><br/>
Vous venez de créer un compte dans les mondes souterrains de Delain.<br/>
Afin de pouvoir valider ce compte, merci d’aller sur le lien suivant :<br/>
<a href="{{ TYPE_FLUX }}{{ URL }}validation_compte2.php?nom={{ NOM }}&validation={{ VALIDATION }}">{{ TYPE_FLUX }}{{ URL }}validation_compte2.php?nom={{ NOM }}&validation={{ VALIDATION }}</a>
(Si vous avez des espaces dans le lien, il faut faire un copier coller du lien en entier, il doit se terminer par une série de 4 chiffres)<br />
Vos aventuriers ne pourront être créés qu’après cette formalité.<br >
Bon jeu, et n’oubliez pas de venir nous faire un petit bonjour sur le forum !<br />
L’équipe des Souterrains de Delain<br />
<a href="{{ TYPE_FLUX }}{{ URL }}">{{ TYPE_FLUX }}{{ URL }}</a>
