Bonjour<br />
Vous avez demandé un nouveau mot de passe.<br />
Afin de le générer, merci de cliquer sur ce lien :
<a href="http://{{ URL }}/genere_mdp.php?compt_cod={{ COMPTE.compt_cod}}&token={{ COMPTE.compt_validation }}">http://{{ URL }}/genere_mdp.php?compt_cod={{ COMPTE.compt_cod}}&token={{ COMPTE.compt_validation }}</a>
