<p class="titre">{{ news.news_titre }}</p>
<p class="texteNorm" style="text-align:right;">{{ news.news_date|date('d/m/Y') }}</p>
<p class="texteNorm">
    {{ news.news_texte|raw }}
</p>
<p class="texteNorm" style="text-align:right;">
    {% if news.news_mail_auteur is empty %}
        {{ news.news_auteur }}
    {% else %}
        <a href="mailto:{{ news.news_mail_auteur }}">{{ news.news_auteur }}</a>
    {% endif %}
</p>
