<table width="100%" border="0" class="tableau_perso">
    <tr>
        <td colspan="2" class="titre" valign="top">
            <div class="titre">{{ PERSO.perso_nom }}</div>
        </td>
    </tr>
    {%  if PERSO.perso_description is not empty %}
    <tr>
        <td colspan="2" class="soustitre2">
            <div style="text-align:center;font-size:7pt;">{{ PERSO.perso_description|nl2br }}</div>
        </td>
    </tr>
    {%  endif %}
    <tr>
        <td class="soustitre2" colspan="2">
            <span {% if PERSO.dlt_passee ==1 %} style="font-weight: bold;"{% endif %}>DLT : {{ PERSO.perso_dlt|date('d/m/Y H:i:s') }}</span>
            <br/><i>Puis ± {{ PERSO.prochaine_dlt|date('d/m/Y H:i:s') }}</i>
            <br/>
        </td>
    </tr>
    <tr>
        <td class="soustitre2" colspan="2">Position : X={{ PERSO.position.pos.pos_x }}; Y={{ PERSO.position.pos.pos_y }}
            ; {{ PERSO.position.etage.etage_libelle }}
        </td>
    </tr>
    <tr>
        <td class="soustitre2" colspan="2">
            {% if PERSO.guilde == false %}
                Pas de guilde
            {% else %}
                Guilde : {{ PERSO.guilde.guilde_nom }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td valign="top">
            <a href="#"
               onClick="javascript:document.login.perso.value={{ PERSO.perso_cod }};document.login.submit();"><img
                        src="{{ PERSO.avatar }}?{{ PERSO.perso_avatar_version }}" alt="Jouer {{ PERSO.perso_nom }}
                "></a>
            {% if PERSO.getEvtNonLu|length >0 %}
                <table>
                    <tr>
                        <td class="bouton" height="1" width="1"><span class="bouton">
		<input type="button" class="bouton"
               onClick="javascript:window.open('{{ G_URL }}/visu_derniers_evt.php?visu_perso={{ PERSO.perso_cod }}&is_log={{ IS_LOG }}','evenements','scrollbars=yes,resizable=yes,width=500,height=300');"
               title='Cliquez ici pour voir vos événements importants depuis votre dernière connexion'
               value="Événements"/></span>
                        </td>
                    </tr>
                </table>
            {% endif %}
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <div class="image"><b>Niveau {{ PERSO.perso_niveau }}</b>
                            {% if PERSO.perso_tangible == 'N' %}
                                <i>Impalpable ({{ PERSO.perso_nb_tour_intangible }}
                                    tour{% if PERSO.perso_nb_tour_intangible >1 %}s{% endif %})</i>

                            {% endif %}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="image"><img src="{{ URL_IMAGES }}barrepa_{{ PERSO.perso_pa }}.gif"
                                                alt="{{ PERSO.perso_pa }}PA">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="image"><img src="{{ URL_IMAGES }}coeur.gif" alt=""> <img
                                    src="{{ URL_IMAGES }}hp{{ PERSO.barre_hp }}.gif" title="{{ PERSO.perso_pv }}PV
                            sur {{ PERSO.perso_pv_max }}" alt="{{ PERSO.perso_pv }}PV sur {{ PERSO.perso_pv_max }}">
                        </div>
                    </td>
                </tr>
                {% if PERSO.is_enchanteur %}
                    <tr>
                        <td>
                            <div class="image"><img src="{{ URL_IMAGES }}energi10.png" alt=""> <img
                                        src="{{ URL_IMAGES }}nrj{{ PERSO.barre_energie }}.png"
                                        title="{{ PERSO.perso_energie }} sur 100" alt="{{ PERSO.perso_energie }} sur
                                        100">
                            </div>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>
                        <div class="image"><img src="{{ URL_IMAGES }}iconexp.gif" alt=""> <img
                                    src="{{ URL_IMAGES }}xp{{ PERSO.barre_xp }}.gif"
                                    title="{{ PERSO.perso_px }} PX, prochain niveau à {{ PERSO.px_limite }}"
                                    alt="{{ PERSO.perso_px }} PX sur {{ PERSO.px_limite }}">
                        </div>
                    </td>
                </tr>
                {# TODO : énergie divine ? #}
                <tr>
                    <td>
                        Messages/transactions
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
